<template>
<div>
   <div v-if="this.$store.state.validUser && this.$store.state.showData && this.$store.state.userLoggedOct.length" class="card card-style">
   
    <div class="card-content ">
       <div class="content">

    <h1 style="text-weight:300">Oct2020</h1>    

    <h1>{{this.$store.state.userLoggedOct[0]["first_name"] + ' '+ this.$store.state.userLoggedOct[0]["last_name"] }} </h1>
     
   <button class="button" @click="loadDataToForm">Refresh</button> <br>

    <form @submit.prevent="" >

 <div class="field">   
 
    <label class="lable"  for="name">What is your first name ?:</label> 
    <input class="input" type="textarea" name="name" v-model="user.first_name"   readonly=true > 

    <label class="lable" for="lastname">And what is your *last name*?:</label> 
    <input class="input" type="textarea" name="lastname" v-model="user.last_name" readonly=true > 

    <label class="lable" for="id">What is your employee id? :</label> 
    <input class="input" type="textarea" name="id" v-model="user.empid"  readonly=true >

    <label class="lable" for="password">Please enter given password:</label> 
    <input class="input" type="textarea" name="password" v-model="user.password"  > 


    <label class="lable" for="youremail">Please enter your email address </label> 
    <input class="input" type="textarea" name="youremail" v-model="user.your_email"  > 


    <label class="lable" for="hierarchy">What is your hierarchy level within Coditas?:</label> 
    <input class="input" type="textarea" name="hierarchy" v-model="user.hierarchy"  > 

    <label  class="lable"  for="total_exp">What is your total years of experience :</label> 
    <input class="input" type="textarea" name="total_exp" v-model="user.total_exp"   > 

    <label  class="lable" for="job_title">What is your *job title*?:</label> 
    <input class="input" type="textarea" name="job_title" v-model="user.job_titile"  > 

    <label  class="lable" for="knowledge">Job Knowledge:</label> 
    <input class="input" type="textarea" name="knowledge" v-model="user.job_knowledge" > 

      <label  class="lable" for="productivity">Productivity:</label> 
    <input class="input" type="textarea" name="productivity" v-model="user.productivity" >

      <label  class="lable" for="comm">Communication Skills:</label> 
    <input class="input" type="textarea" name="comm" v-model="user.communication"  > 


      <label  class="lable" for="creative">Creativity:</label> 
    <input class="input" type="textarea" name="creative" v-model="user.creativity" > 


      <label  class="lable" for="commit">Commitment:</label> 
    <input class="input" type="textarea" name="commit" v-model="user.commitment"  >


      <label  class="lable" for="goalaccomplish">Goal Accomplishment:</label> 
    <input class="input" type="textarea" name="goalaccomplish" v-model="user.goal_accomplish" > 

      <label  class="lable" for="overallrate">how would you *rate your job performance* overall?:</label> 
    <input class="input" type="textarea" name="overallrate" v-model="user.rate_performance"   > 


      <label  class="lable" for="imp_achive">What do you consider to be your most important achievements of the past year?:</label> 
    <input class="input" type="textarea" name="imp_achive" v-model="user.imp_achievements"  > 


    <label  class="lable" for="difficult_past">What elements of your job did you find difficult last year:</label> 
    <input class="input" type="textarea" name="difficult_past" v-model="user.difficult_past"  > 

    <label  class="lable" for="most_imp_tasks">What do you consider to be your most important aim or tasks in the past year? Rate yourself on how far you have achieved them:</label> 
    <input class="input" type="textarea" name="most_imp_tasks" v-model="user.most_imp_tasks"  > 


     <label  class="lable" for="how_many_goal">How may goals would you like to set in this quarter (max 3) :</label> 
    <input class="input" type="textarea" name="how_many_goal" v-model="user.how_many_goals" > 

      <label  class="lable" for="specific_goal">What is your project-specific goal for the current quarter?:</label> 
    <input class="input" type="textarea" name="specific_goal" v-model="user.project_specific_goal"  > 


     <label  class="lable" for="key1">Enter 'Key Metric-1:</label> 
    <input class="input" type="textarea" name="key1" v-model="user.key_matric_1"  > 


     <label  class="lable" for="key2">Enter 'Key Metric-2' for your goal :</label> 
    <input class="input" type="textarea" name="key2" v-model="user.key_matric_2"   > 
    
     <label  class="lable" for="key3">Enter 'Key Metric-3' for your goal:</label> 
    <input class="input"  type="textarea" name="key3" v-model="user.key_matric_3"   > 

       
     <label  class="lable" for="org_prespective">From an organization perspective, what is your goal for the current quarter? </label> 
    <input class="input" type="textarea" name="org_prespective" v-model="user.key_matric_3"   > 

     <label  class="lable" for="key1_1">Enter 'Key Metric-1' for your goal</label> 
    <input class="input" type="textarea" name="key1_1" v-model="user.key_matric_1_1"   > 

     <label  class="lable" for="key2_2">Enter 'Key Metric-2' for your goal:</label> 
    <input class="input" type="textarea" name="key2_2" v-model="user.key_matric_1_2"   > <br>

     <label  class="lable" for="key3_3">Enter 'Key Metric-3' for your goal:</label> 
    <input class="input" type="textarea" name="key3_3" v-model="user.key_matric_1_3"   > <br>

    <label  class="lable" for="p_goal">Do you have any personal goals for this quarter?</label> 
    <input class="input" type="textarea" name="p_goal" v-model="user.personal_goal"> <br>

    <label  class="lable" for="goal_trying">What is the goal that you are trying to achieve </label> 
    <input class="input" type="textarea" name="goal_trying" v-model="user.trying_to_achive "> <br>

    <label  class="lable" for="key1_1_1">Enter 'Key Metric-1' for your goal</label> 
    <input class="input" type="textarea" name="key1_1_1" v-model="user.key_matric_1_1_1"> <br>

    <label  class="lable" for="key1_1_2">Enter 'Key Metric-1' for your goal</label> 
    <input class="input" type="textarea" name="key1_1_2" v-model="user.key_matric_1_1_2"> <br>

    <label  class="lable" for="key1_1_1">Enter 'Key Metric-1' for your goal</label> 
    <input class="input" type="textarea" name="key1_1_3" v-model="user.key_matric_1_1_3"> <br>


    <label  class="lable" for="sup_name">What is your *supervisor's first name*?:</label> 
    <input class="input" type="textarea" name="sup_name" v-model="user.surpervisor"  > <br>

     <label  class="lable" for="sup_lname">And what is your *supervisor's last name*?:</label> 
    <input class="input" type="textarea" name="sup_lname" v-model="user.surpervisor_lastname"  > <br>

      <label  class="lable" for="email">Please enter your supervisor's email address :</label> 
    <input class="input" type="textarea" name="email" v-model="user.email_address"   > <br>

      <label  class="lable" for="org_skill">Organization Skills:</label> 
    <input class="input" type="textarea" name="org_skill" v-model="user.org_skills"  > 

    <label  class="lable" for="leader_skill">Leadership Skills:</label> 
    <input class="input"  type="textarea" name="leader_skill" v-model="user.leadership"  > 

   

    <label  class="lable" for="strong_point">What are  strong *points*?:</label> 
    <input class="input" type="textarea" name="strong_point" v-model="user.strong_point"  >

    <label  class="lable" for="weak_point">And what are  weak *points*?:</label> 
    <input class="input" type="textarea" name="weak_point" v-model="user.weak_point"  > <br>

    <label  class="lable" for="submit">Submitted At:</label> 
    <input class="input" type="textarea" name="submit" v-model="user.submitted"   > <br>

    <label  class="lable" for="token">Token:</label> 
    <input class="input" type="textarea" name="token" v-model="user.token" > <br>

    <button class="button" @click="updateUserData">Update</button>
 </div>
    </form>

</div>
</div>
</div>
<div v-else>
      <h1>No Data Exists</h1>
</div>

</div>
</template>

<script>
//  <label  class="lable" for="rate"> how would you *rate* s job performance and management ability* overall?:</label> 
//     <input class="input" type="textarea" name="rate" v-model="user.overall_rate" >
import firebase from "firebase"
export default {
     
     params:['data']
     ,
    data () {
        return {
            user:{}
        }
    },
    mounted() {
        
        this.loadDataToForm();

    },

methods: {


 updateUserData(e){

      this.$store.dispatch("getAprilData")
      this.$store.dispatch("getOctData")


      const db = firebase.database();

      const xx = {};
  
      const key =this.$store.state.userLoggedOct[1]
     
      const path = "/pms-vue-octdata/-Mag7YD7rkQszas9yAtS/oct2020/"


      xx[path+key+"/"+"What is your* first name*?"] =  this.user.first_name
      xx[path+key+"/"+"And what is your *last name*?"] = this.user.last_name       
      xx[path+key+"/"+"What is your employee id? "]  =  this.user.empid      
      xx[path+key+"/"+"Please enter given password"]  =  this.user.password      
      xx[path+key+"/"+"Please enter your email address "]  =  this.user.your_email   
      xx[path+key+"/"+"What is your hierarchy level within Coditas?"] =  this.user.hierarchy         
      xx[path+key+"/"+"What is your total years of experience "] = this.user.total_exp      
      xx[path+key+"/"+"What is your *job title*?"]   = this.user.job_titile  
      xx[path+key+"/"+"Quality of Work"]   = this.user.quality_of_work    
      xx[path+key+"/"+"Job Knowledge"]  =  this.user.job_knowledge     
      xx[path+key+"/"+"Productivity"]   =  this.user.productivity    
      xx[path+key+"/"+"Communication Skills"]  = this.user.communication   
      xx[path+key+"/"+"Creativity"] =  this.user.creativity      
      xx[path+key+"/"+"Commitment"] = this.user.commitment       
      xx[path+key+"/"+"_Goal Accomplishment_"] =  this.user.goal_accomplish      
      xx[path+key+"/"+"{{field:680e6ffea770322e}}, how would you *rate your job performance* overall?"] = this.user.rate_performance 
      xx[path+key+"/"+"What do you consider to be your most important achievements of the past year?"] =  this.user.imp_achievements 
      xx[path+key+"/"+"What elements of your job did you find difficult last year"] =  this.user.difficult_past 
      xx[path+key+"/"+"What do you consider to be your most important aim or tasks in the past year? Rate yourself on how far you have achieved them"] =   this.user.most_imp_tasks 
      xx[path+key+"/"+"How may goals would you like to set in this quarter (max 3) "] =  this.user.how_many_goals
      xx[path+key+"/"+"What is your project-specific goal for the current quarter? "] =  this.user.project_specific_goal
      xx[path+key+"/"+"Enter 'Key Metric-1' for your goal {{field:13ef2fe6-845e-4f9b-ab4f-280dcac44fb7}}"] =  this.user.key_matric_1
      xx[path+key+"/"+"Enter 'Key Metric-1' for your goal {{field:13ef2fe6-845e-4f9b-ab4f-280dcac44fb7}}"] =  this.user.key_matric_2
      xx[path+key+"/"+"Enter 'Key Metric-1' for your goal {{field:13ef2fe6-845e-4f9b-ab4f-280dcac44fb7}}"] =   this.user.key_matric_3  


     xx[path+key+"/"+"From an organization perspective, what is your goal for the current quarter? "] =   this.user.org_prespective_goal 
     xx[path+key+"/"+"Enter 'Key Metric-1' for your goal {{field:160c9b00-4b71-4098-93ca-b296cdb4fc5f}}"] =   this.user.key_matric_1_1 
     xx[path+key+"/"+"Enter 'Key Metric-2' for your goal {{field:160c9b00-4b71-4098-93ca-b296cdb4fc5f}}"] =   this.user. key_matric_1_2  
     xx[path+key+"/"+"Enter 'Key Metric-3' for your goal {{field:160c9b00-4b71-4098-93ca-b296cdb4fc5f}}"] =   this.user. key_matric_1_3     
    
     xx[path+key+"/"+"Do you have any personal goals for this quarter?"] =   this.user.personal_goal      
     xx[path+key+"/"+"What is the goal that you are trying to achieve "] =   this.user.trying_to_achive 
     xx[path+key+"/"+"Enter 'Key Metric-1' for your goal {{field:72b649c5-bc96-44dd-be85-69bc9fc26697}}"] =   this.user.key_matric_1_1_1
     xx[path+key+"/"+"Enter 'Key Metric-2' for your goal {{field:72b649c5-bc96-44dd-be85-69bc9fc26697}}"] =   this.user.key_matric_1_1_2
     xx[path+key+"/"+"Enter 'Key Metric-3' for your goal {{field:72b649c5-bc96-44dd-be85-69bc9fc26697}}"] =   this.user.key_matric_1_1_3


      xx[path+key+"/"+"What is your *supervisor's first name*?"] =  this.user.surpervisor
      xx[path+key+"/"+"And what is your *supervisor's last name*?"] = this.user.surpervisor_lastname  
      xx[path+key+"/"+"Please enter your supervisor's email address "] = this.user.email_address 
      xx[path+key+"/"+"Organization Skills"] =  this.user.org_skills      
      xx[path+key+"/"+"Leadership Skills"] =  this.user.leadership  
      xx[path+key+"/"+"{{field:680e6ffea770322e}}, how would you *rate* *{{field:38f79c46299f6e37}}**'s job performance and management ability* overall?"] =  this.user.overall_rate  
      xx[path+key+"/"+"What are {{field:38f79c46299f6e37}}'s strong *points*?"] =  this.user.strong_point    
      xx[path+key+"/"+"And what are {{field:38f79c46299f6e37}}'s weak *points*?"] = this.user.weak_point
      xx[path+key+"/"+"Submitted At"] =  this.user.submitted 
      xx[path+key+"/"+"Token"] =  this.user.token     
    
    db.ref().update(xx);
    alert("Data Updated Successfully")
    e.preventDefault();

   },

   loadDataToForm(){
     
     this.$store.dispatch("getAprilData")
     this.$store.dispatch("getOctData")
     this.user = this.$store.state.userLoggedOct[0]
 
   }


}





}


</script>

<style scoped>

div.card{
padding:20px;

}
div h1{
font-size:40px;
font-weight:400;

}
.card-style{
  width:80%;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
  font-weight:300;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.field label{
  font-weight:500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
}
.field input{
  font-size: 16px;
  color:#e4022d;

}


</style>