<template>
<div>
  <div v-if="this.$store.state.validUser && this.$store.state.showData && this.$store.state.userLoggedApril.length >=1"  class="card card-style">
   
  <div class="card-content ">
    <div class="content">
    
    <h1 style="text-weight:300">April2021</h1>

    <h1 >{{this.$store.state.userLoggedApril[0]["candidate_Name"]}}</h1>

    <button class="button" @click="loadUserDataToFrom">Refresh</button>

    <form @submit.prevent="" >
     
        <div class="field">
            
              <label class="lable" for="id">Your Employee ID:</label> 
              <input class="input" type="number" name="id" v-model="user.candidate_Id" ref="candidate_Id"  readonly=true > 
            

              <label class="label" for="name">Your Name: </label> 
              <input class="input" type="text-area" name="name" v-model="user.candidate_Name" readonly=true placeholder="Enter First Name">
              
              <label  class="lable" for="first_review">Is this your First Review:</label>   
              <input class="input" type="text-area" name="first_review" v-model="user.first_review" ref="first_review" placeholder=""> 

              <label  class="lable" for="personalgoal">What was the personal Goal that you had set in the last quarter:</label>
              <input class="input" type="text-area" name="personalgoal" v-model="user.personal_goals_for_last_quarter" ref="" placeholder=""> <br>
              
              <label  class="lable" for="meet_goal">To what extent did you meet the individual goals set in the last Employee Performance Review:</label>
              <input class="input" type="text-area" name="meet_goal" v-model="user.extend_of_meet_first_goal" ref="" placeholder=""> <br>

              <label  class="lable" for="project_goal">What was the Project Specific Goal that you had set in the last quarter:</label>
              <input class="input" type="text-area" name="project_goal" v-model="user.project_specific_goal_for_last_quarter" ref="" placeholder=""> <br>
            
              <label  class="lable" for="extend_project_goal">To what extent did you meet the Project-specific goals set in the last Employee Performance Review:</label>
              <input class="input" type="text-area" name="extend_project_goal" v-model="user.extend_for_project_specific_goal" ref="" placeholder=""> <br>
              
              <label  class="lable" for="org-goal">What was the Organizational Goal that you had set in the last quarter:</label>
              <input class="input" type="text-area" name="org_goal" v-model="user.organizational_goal" ref="" placeholder=""> <br>
            
              <label  class="lable" for="extend_org">To what extent did you meet the Organizational goals set in the last Employee Performance Review:</label>
              <input class="input" type="text-area" name="extend_org" v-model="user.extend_for_organizational_goal" ref="" placeholder=""> <br>
              
              <label  class="lable" for="arsp_goal">What is the Aspirational Goal that you want to achieve this quarter:</label>
              <input class="input" type="text-area" name="arsp_goal" v-model="user.aspirational_goal" ref="" placeholder=""> <br>
              
              <label  class="lable" for="first_step">What is the first step for this goal:</label>
              <input class="input" type="text-area" name="first_step" v-model="user.firststep_for_aspirational_goal" ref="" placeholder=""> <br>
              
              <label class="lable" for="second_step_step">What is the second step for this goal:</label>
              <input class="input" type="text-area" name="second_step" v-model="user.secondstep_for_aspirational_goal" ref="" placeholder=""> <br>
              
              <label  class="lable" for="third_step">What is the third step for this goal:</label>
              <input class="input" type="text-area" name="third_step" v-model="user.thirdstep_for_aspirationl_goal" ref="" placeholder=""> <br>
              
              <label  class="lable" for="commited_goal">What is the Commitment Goal that you want to achieve this quarter:</label>
              <input class="input" type="text-area" name="commited_goal" v-model="user.commitment_goal_for_this_quarter"> <br>

              <label  class="lable" for="final_comment">Do you have any final comments you would like to raise:</label>
              <input class="input" type="text-area" name="final_comment" v-model="user.final_comments_to_raise" > <br>
              
              <label  class="lable" for="submitted">Submitted at:</label>
              <input class="input" type="text-area" name="submitted" v-model="user.submitted_at" ref="" placeholder="">  <br>
              
              <label  class="lable" for="token">Token:</label>
              <input class="input" type="text-area" name="token" v-model="user.user_token" ref="" placeholder=""> <br>
              
              <button class="button" @click="updateUserData">Update</button>
              
          </div>
      <!-- <input type="submit" name="Update"> -->
    </form>
    </div>
   </div>
  </div>
  <div v-else>
    <div class="card card-style">
      <h1>No data exists</h1>
    </div>
  </div>
</div>
</template>

<script>
// import firebaseConfig from "./firebase.js";
// firebase.initializeApp(firebaseConfig);
import firebase from "firebase"



export default {
   params:['data'],
  data () {
    return{ 
      user:{},
      fname: "",
      id:"",
      userKey:[]

    }
  },
  mounted () {
    
      console.log("userform mounted")

  },
  methods: {
   
   
    updateUserData(e){

      this.$store.dispatch("getAprilData")
      this.$store.dispatch("getOctData")


      const db = firebase.database();

      const xx = {};
  
      const key = this.$store.state.userLoggedApril[1]

      const  path = "/pms-vue-aprildata/-MagP2m94IgryX3KLNhK/april2021/"

      xx[path +key+"/"+"Is this your first review"] = this.user.first_review
      xx[path+key+"/"+"What was the personal Goal that you had set in the last quarter"] = this.user.personal_goals_for_last_quarter
      xx[path+key+"/"+"To what extent did you meet the individual goals set in the last Employee Performance Review?"] = this.user.extend_of_meet_first_goal
      xx[path+key+"/"+"What was the Project Specific Goal that you had set in the last quarter"] = this.user.project_specific_goal_for_last_quarter 
      xx[path+key+"/"+"To what extent did you meet the Project-specific goals set in the last Employee Performance Review?"] = this.user.extend_for_project_specific_goal
      xx[path+key+"/"+"What was the Organizational Goal that you had set in the last quarter"] = this.user.organizational_goal
      xx[path+key+"/"+"To what extent did you meet the Organizational goals set in the last Employee Performance Review?"] = this.user.extend_for_organizational_goal
      xx[path+key+"/"+"What is the Aspirational Goal that you want to achieve this quarter"] = this.user.aspirational_goal
      xx[path+key+"/"+"What is the first step for this goal"] = this.user.firststep_for_aspirational_goal
      xx[path+key+"/"+"What is the second step for this goal"] = this.user.secondstep_for_aspirational_goal
      xx[path+key+"/"+"What is the third step for this goal"] = this.user.thirdstep_for_aspirationl_goal
      xx[path+key+"/"+"Do you have any final comments you would like to raise?"] = this.user.final_comments_to_raise
      xx[path+key+"/"+"What is the Commitment Goal that you want to achieve this quarter"]=this.user.commitment_goal_for_this_quarter
      xx[path+key+"/"+"Submitted At"] = this.user.submitted_at
      xx[path+key+"/"+"Token"] = this.user.user_token
              
      db.ref().update(xx);
      alert("Data Updated Successfully")
      e.preventDefault();
    },
    
    loadUserDataToFrom(){

      this.$store.dispatch("getAprilData")
      this.$store.dispatch("getOctData") 
      this.user = this.$store.state.userLoggedApril[0]
      
    },
    
  },
  mounted(){
      this.loadUserDataToFrom()
  }

}
</script>

<style scoped>

div.card{
padding:20px;

}
div h1{
font-size:40px;
font-weight:400;

}
.card-style{
  width:80%;
  margin:auto;
  margin-top:10px;
  margin-bottom:20px;
  font-weight:300;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

.field label{
  font-weight:500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
}
.field input{
  font-size: 16px;
  color:#e4022d;

}



</style>