<template>
<div>
    <div class="card card-style">
      <div class="card-content">
        <div class="content">
            <p>User Not Found </p>
        </div>
      </div>
    </div>
</div>
</template>

<script>
export default {

}
</script>

<style>

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.card-style{
  width:80%;
  /* margin:auto; */
  margin-top:10px;
  margin-bottom:20px;
  font-weight:300;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}


</style>