<template>
  <div>

    <div class="card card-style" v-if="this.$store.state.validUser && this.$store.state.adminLogged">
        <h1>Add Admin</h1>

      <form @submit.prevent="addAdmin">
        
        <label for="admins">Add Email</label> <br>
        
        <input type="email" v-model="email.val" name="admins" style="width:60%;" /> <br>

        <input class="button" type="submit" value="Add Admin"> <br>
        
        <p style="color:red">{{error}}</p> <br>
        <p style="color:red">{{apiError}}</p>
        
        <!-- <button class="button" @click="addAdmin">Add Admin</button> -->
     
      </form>
       
    </div>

     <div class="card card-style" v-if="this.$store.state.validUser && this.$store.state.adminLogged">
      <h1>Remove Admin</h1>

        <form @submit.prevent="removeAdmin">

            <label for="adminRemove">Remove Admin</label> <br>
        
            <input type="email" v-model="emailRemove" name="adminRemove"  style="width:60%;" /> <br>

            <input class="button" type="submit" value="Remove"> <br>

            <p  style="color:red">{{this.removeAdminError}}</p>
        
        </form>
       
    </div>

    <div class="card card-style" v-if="this.$store.state.validUser && this.$store.state.adminLogged">
      <h1>Admins List</h1>
        <div v-for="admin in loadCoaches" :key="admin">
          <ul>

            <li>{{admin}}</li>

          </ul>
        </div>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      email: {
        val: "",
        isValid: true,
      },
      emailRemove: "",
      formValid: true,
      adminsList: [],
      error: null,
      apiError: null,
      removeAdminError: null,
      existingUser: false,
    };
  },

  methods: {
    validateForm() {
      this.formValid = true;
      if (this.email.val == "") {
        this.email.isValid = false;
        this.formValid = false;
        this.error = "Field Can't be empty";
      }
    },

    addAdmin() {

      this.existingUser = false;

      this.error = "";

      this.validateForm();

      if (this.formValid == true) {
        this.error = null;

        for (const admin in this.$store.state.adminsList) {
          if (this.$store.state.adminsList[admin]["email"] === this.email.val) {
            this.existingUser = true;
          }
          // catch(error){

          //   this.error = error.message || 'Something went Wrong while adding admin'

          //   this.apiError = this.error
          // }
        }
        try {
          if (this.existingUser === true) {
            this.error = "user already exists.";
            this.email.val = "";
          } else {
            this.$store.dispatch("addAdmin", { email: this.email.val });
            this.email.val = "";
            alert(`admin ${this.email.val} Added Successfully.`);
          }
        } catch (error) {
          this.error =
            error.message || "Something went Wrong while adding admin";

          this.apiError = this.error;
        }
      }
      this.getAdmins();
    },

    async removeAdmin() {
      this.removeAdminError = null;

      if (this.emailRemove === "") {
        this.removeAdminError = "Field can't be Empty";
      } else {
        console.log("else");
        for (const admin in this.$store.state.adminsList) {

            console.log(this.$store.state.adminsList[admin]["email"])

          if (this.$store.state.adminsList[admin]["email"] === this.emailRemove) {
            
            if (this.$store.state.adminsList.length === 1) {
              this.removeAdminError = "There Should Be Atleast 1 admin";
            } 
            else {
              const adminId = this.$store.state.adminsList[admin]["id"];
              await this.$store.dispatch("removeAdmin", {id:adminId,email:this.emailRemove});
            }
          }
          else if (!this.$store.state.adminsList[admin]["email"] === this.emailRemove
          ) {
            this.removeAdminError = "Admin with this email not found!";
          }
        }
      }

      this.getAdmins();

      //  for(const admin in this.$store.state.adminsList){
    },

    getAdmins() {
      this.adminsList = [];

      try {

        this.$store.dispatch("getAdminsData");
        
      } catch (error) {
        this.error = error.message || "Something went Wrong";

        this.apiError = this.error;
      }
      // this.$store.getters.getAdminsList
      this.emailRemove = "";
    },
  },
  created() {
    this.getAdmins();
    console.log("created");
    this.removeAdminError = null;
    this.error = null;
    this.apiError = null;
  },

  computed: {

    loadCoaches() {

      const List = this.$store.getters.getAdminsList;

      const temp = [];

      for (const admin in List) {
        temp.push(List[admin]["email"]);
      }
      return (this.adminsList = temp);
    },
  },
};
</script>

<style>
.card {
  padding: 20px;
}
div h1 {
  font-size: 40px;
  font-weight: 400;
}
.card-style {
  width: 40%;
  height: 40%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 300;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);

}
</style>