<template>
  
  <div v-if="this.$store.state.dataNotFound">
    <div class="card card-style">
     <h1>data not found</h1>
    </div>
  </div>
    <div v-else-if="this.$store.state.adminLogged.length && this.$store.state.validUser ">
      
      <div class="level ">
        <div class="level-item">
          <div class="card card-style">
            <div class="card-content">
              <div class="content">
                <div class="level-left" style="margin:20px">
                  <button class="button is-info" @click="userDataButton" >Users Data</button>
                    <p class="px-5 mx-5">For User data</p>
                </div>
                
                <div class="level-left" style="margin:20px">
                  <button class="button is-warning"  @click="adminDataButton">Own Data</button>
                    <p class="px-5 mx-5"> For updating own data</p>
                </div>

                <div class="level-left" style="margin:20px">
                    <router-link class="button is-success" @click.native="addAdminButton"  :to="{ name:'AddAdmin'}">Add Admin</router-link> 
                    <p class="px-5 mx-5"> For adding admins</p>
                </div>
              
              </div>
            </div>
          </div>
       </div>
    </div>
  </div> 
  

  <!-- <div v-else>
    <div class="card">  
      <h1  style="font-size:40px;">Please Wait</h1>
    </div>
  </div> -->
  
  
</template>

<script>
import UserFormOct from '../User/UserFormOct.vue'
import UserFormApril from '../User/UserFormApril.vue';
// import QuarterWiseData from './QuarterData.vue'

export default {
  components:{
    // 'quarter-data':QuarterWiseData,
    'user-form-oct':UserFormOct,
    'user-form-april':UserFormApril
  },
  data(){
    return {
      octButton:false,
      aprilButton:false,
      style:'is-active',
      // dataNotFound:false,
    }},
    methods:{
     
     userDataButton(){
        this.$store.state.userDataButton = true;
        this.$store.state.adminDataButton = false;
      },
      adminDataButton(){
        if(!(this.$store.state.userLoggedApril.length >=1 || this.$store.state.userLoggedOct.length >=1)){
              this.$store.state.dataNotFound = true
              // this.$store.state.adminDataButton = true;
              this.$store.state.userDataButton = false;
        }else{
          this.$store.state.adminDataButton = true;
          this.$store.state.userDataButton = false;
        }
       
      },
      addAdminButton(){
        this.$store.state.adminDataButton = false;
        this.$store.state.userDataButton = false;
      },

      loginLoading(){
        this.$store.state.loginLoading = false;
      }
    },
    
}


</script>

<style scoped>
.card {
  padding: 20px;
}
div h1 {
  font-size: 40px;
  font-weight: 400;
}
.card-style {
  width: 40%;
  height:40%;
  /* margin: auto; */
  margin-top: 2px;
  margin-bottom: 20px;
  font-weight: 300;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);

}
.card-style2{
  width:20%;
  height:50%;
  margin: auto;
  padding: 40px ;
  
}

</style>