<template>
  <div>
    <div v-if="this.$store.state.adminLoggedGoogleData">
      <div class="level" style="margin-top:20px">
         
          <div class="level-item has-text-centerd">
            
            <!-- input -->
            <input class="input is-primary" type="text" name="userid" v-model="userInput" v-on:input="onInputChange();" /> 
           
            <div class="level-item">
              <span><p style="color:red">{{this.error}}</p></span> 
            </div>

              <!-- <router-link :to="'/user/'+ this.userInput" class="button is-success is-light" @click.native="getUserInfo" style="margin-left:10px">Get PMS Data</router-link>  -->
             
              <router-link :to="'/user/'+ this.userInput" :class="{'is-warning':this.octButton,button:true}"  @click.native="quarteroct(); getUserInfo();" style="margin-left:30px"> October-2020 </router-link> 

              <router-link :to="'/user/'+ this.userInput" :class="{ 'is-warning':this.aprilButton,button:true}"  @click.native="quarterapril(); getUserInfo();" style="margin-left:10px"  > April-2021 </router-link> 

          </div>
      </div>
    </div>
  </div>

  <!-- <user></user> -->
</template>

<script>
import User from "./User.vue";

export default {
  components: {
    user: User,
  },
  data() {
    return {
      userInput: '',
      selectedUserData: [],
      formValid: false,
      error: null,
      octButton:false,
      aprilButton:false,
      // quarterSelect:null,
      style:'is-active'

    };
  },
  mounted() {
    this.$store.dispatch("getAprilData");
    this.$store.dispatch("getOctData");
  },
  methods: {
    validateForm() {
      this.formValid = true;
      this.error = null;
      if (this.userInput == "") {
        // this.userInput.isValid = false;
        this.formValid = false;
        this.error = "Field Can't be empty";
      }
    },
    quarteroct(){
          // console.log("oct run")
          this.$store.state.quarterSelect= "oct2020" 
          this.aprilButton = false;
          this.octButton = true;

    },
    quarterapril(){
      // console.log("april run")
          this.$store.state.quarterSelect = "april2021"
          this.aprilButton = true;
          this.octButton = false;

    },
    onInputChange(){
      this.aprilButton = false;
      this.octButton = false;
    },

    getUserInfo() {

      this.$store.dispatch("getAprilData");
      this.$store.dispatch("getOctData");

      // console.log("getuser run")
      this.validateForm();

      if (this.formValid = true) {
        // console.log("userINput",this.userInput)

        this.$store.commit("setSelectedUserApril", []);

        this.$store.commit("setSelectedUserOct", []);

        this.$store.commit("setUserSelect", true);

        const quarterSelect = this.$store.state.quarterSelect;

        if(quarterSelect == null){
          this.error = "Please Select Quarter"
        }else{

        
        let temp = [];

        if (quarterSelect === "april2021") {
          const recived = this.$store.state.aprilDataReceived;

          for (const user in recived) {
            if (recived[user]["candidate_Id"] === this.userInput) {

              this.selectedUserData = [recived[user]];
              this.$store.commit("setSelectedUserApril", this.selectedUserData);

            }
          }
        } else if (quarterSelect === "oct2020") {

          const recived = this.$store.state.octDataReceived;

          for (const user in recived) {
            if (recived[user]["empid"] === this.userInput) {
              this.selectedUserData = [recived[user]];

              this.$store.commit("setSelectedUserOct", this.selectedUserData);
            }
          }
        }
        }

        // this.userInput = "";
        // console.log("getbuttonclicked", this.$store.state.UserSelect);
      }
    },
  },
};
</script>

<style scoped>
.card-style {
  width: 40%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 20px;
  font-weight: 300;
}
</style>