<template>
<div>
  <!-- OctData -->
  <div v-if="selectedUserOct.length && adminLoggedIn && this.$store.state.showData" >
    <div class="card card-style" >
      <div class="card-content ">
        <div class="content">
          <div v-for="user in selectedUserOct"
            :key="user.empid">
            <h1>Oct2020</h1>
            <p>First Name - {{user.first_name}}</p>
            <p>Last Name - {{user.last_name}}</p>
            <p>Emp Id - {{user.empid}}</p>
            <p>Password - {{ user.password }}</p>
            <p>Please enter your email addres - {{user.your_email}}</p>
            <p>Your Hierarchy In Coditas{{ user.hierarchy }}</p>
            <p>Total Year Of Experience - {{ user.total_exp }}</p>
            <p>Job Title - {{ user.job_titile }}</p>
            <p>Quantity Of Work - {{ user.quality_of_work }}</p>
            <p>Job Knowledge - {{ user.job_knowledge }}</p>
            <p>Creativity - {{ user.creativity }}</p>
            <p>Commitment - {{ user.commitment }}</p>
            <p>Goal Accomplish - {{ user.goal_accomplish }}</p>
            <p>Rate Of Performance - {{ user.rate_performance }}</p>
            <p>Important Achievements - {{ user.imp_achievements}}</p>
            <p>Difficult Task In Past Project -  {{ user.difficult_past }}</p>
            <p>Most Important Tasks Done -  {{ user.most_imp_tasks }}</p>
            <p>How may goals would you like to set in this quarter- {{ user.how_many_goals }}</p>
            <p>Project Specific Goals - {{ user.project_specific_goal}}</p>
            <p>Enter Key Matric For Goal - 1 - {{ user.key_matric_1 }}</p>
            <p>Enter Key Matric For Goal - 2 - {{ user.key_matric_2 }}</p>
            <p>Enter Key Matric For Goal - 3 - {{ user.key_matric_3 }}</p>
            <p>Your Supervisor - {{ user.surpervisor }}</p>
            <p>Your Supervisor Last Name -  {{ user.surpervisor_lastname}}   </p>
            <p>Supervisor Email - {{ user.email_address }}</p>
            <p>Organization Specific Skills - {{ user.org_skills }}</p>
            <p>Leardership - {{ user.leadership }}</p>
            <p>Overall Rating - {{ user.overall_rate }}</p>
            <p>Strong Points - {{ user.strong_point }}</p>
            <p>Weak Points - {{ user.weak_point }}</p>
            <p>Submitted At - {{ user.submitted }}</p>
            <p>Token - {{ user.token }}</p>
          </div>
        </div>
      </div>
    </div>

</div>
      <!-- AprilData -->
      <div v-else-if="selectedUserApril.length &&  adminLoggedIn && this.$store.state.showData" >
        
        <div class="card card-style">
          <div class="card-content">
            <div class="content" >
              <div v-for="user in selectedUserApril"
                :key="user.userid">
                    <h1>April2021</h1>
                    <p>What is your Employee Id - {{user.userid}}</p>
                    <p>What is your Name- {{user.candidate_Name}}</p>
                    <p>Is this your first review - {{user.first_review}}</p>
                    <p>What was the personal Goal that you had set in the last quarter - {{user.personal_goals_for_last_quarter}}</p>
                    <p>To what extent did you meet the individual goals set in the last Employee Performance Review? - {{user.extend_of_meet_first_goal}}</p>
                    <p>What was the Project Specific Goal that you had set in the last quarter - {{user.project_specific_goal_for_last_quarter}}</p>
                    <p>To what extent did you meet the Project-specific goals set in the last Employee Performance Review? - {{ user.extend_for_project_specific_goal}}</p>
                    <p>What was the Organizational Goal that you had set in the last quarter - {{ user.organizational_goal}}</p>
                    <p>To what extent did you meet the Organizational goals set in the last Employee Performance Review? - {{ user.extend_for_organizational_goal}}</p>
                    <p>To what extent you meet the first Goal - {{ user.extend_of_meet_first_goal }}</p>
                    <p>What is the Aspirational Goal that you want to achieve this quarter - {{ user.aspirational_goal}}</p>
                    <p>What is the first step for this goal - {{ user.firststep_for_aspirational_goal}}</p>
                    <p>What is the second step for this goal - {{ user.secondstep_for_aspirational_goal}}</p>
                    <p>What is the third step for this goal - {{ user.thridstep_for_aspirational_goal}}</p>
                    <p>What is the Commitment Goal that you want to achieve this quarter - {{user.commitment_goal_for_this_quarter}}</p>
                    <p>Do you have any final comments you would like to raise?" - {{user.final_comments_to_raise}}</p>
                    <p>Submitted At - {{user.submitted_at}}</p>
                    <p>Token - {{user.user_token}}</p>  
                </div>
             </div>
          </div>
        </div>
      </div>
        <div v-else-if="this.$store.getters.getUserSelect">
           <user-not-exists> </user-not-exists>
        </div>
       
</div>
</template>

<script>

import UserNotExist from '../User/UserNotExist.vue';

export default {
  
    components: {
        'user-not-exists':UserNotExist
    },
    
    computed: {

        selectedUserApril(){
            return this.$store.state.selectedUserApril;
        },

        selectedUserOct(){
            return this.$store.state.selectedUserOct;
        },

        adminLoggedIn(){
          return this.$store.state.adminLogged;
        },

        userNotFound(){

          if((this.$store.state.UserSelect) === false ){

            return true;
          }
          else
          {
            return false;
          }
        }
       
    },
    methods: {
        onMount(){
          console.log(`User`,this.$store.state.selectedUserData)
           
        },
        showdata(){
           console.log(`User`,this.$store.state.selectedUserData)
        }  
    },
    mounted(){

      this.onMount();
        
    }   
   
}

</script>

<style scoped>

.card-style{
  width:80%;
  margin:auto;
  margin-top:10px;
  margin-bottom:20px;
  font-weight:300;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


</style>