<template>
  <div>
    <div class="nav">
   
        <router-link  v-if="!this.$store.state.validUser"  class="button is-primary is-outlined px-5 py-5"  @click.native="googleSignIn"   :to="{ name: 'AdminUserSelect' }"> Login  </router-link>

        <button @click="logout" class="button is-danger px-6 py-5" v-if="this.$store.state.validUser" >Logout </button>

    </div>
  </div>
</template>

<script>
// import QuarterData from "./QuarterData.vue";
import UserFormApril from "./User/UserFormApril.vue";


export default {
  
  components: {
    // "quarter-data": QuarterData,
    "user-form-april": UserFormApril,

  },

  methods: {

    googleSignIn(){

      this.$store.commit("onSuccess")

    },
  
    logout() {
 
      this.$store.commit('onLogout')
      this.$router.push('/')
      this.$store.commit("setValidUser", false);

    },

  },
};
</script>

<style>

</style>