<template>

<div class="level">

    <div class="navbar-item">
        <div v-if="this.$store.state.validUser && this.$store.state.showData">
            <router-link @click.native="April" :class="{ 'is-warning':this.$store.state.aprilButton,button:true}" style="width:80px;" :to="{ name: 'UserFormApril' }">April</router-link>
        </div>
    </div>

    <div class="navbar-item">
        <div v-if="this.$store.state.validUser && this.$store.state.showData">
            <router-link @click.native="Oct" :class="{'is-warning':this.$store.state.octButton,button:true}"  style="width:80px;"  :to="{ name: 'UserFormOct' }">Oct</router-link>
        </div>
    </div>

</div>

</template>

<script>
export default {
    data(){
        return{
          style:'is-active',
        }
    },
    computed: {
        userSelectQuarter(){
            return this.$store.state.userQuarterSelect
        }
    },
    methods: {
    April(){
      console.log("april",)
      this.$store.state.aprilButton = true;
      this.$store.state.octButton = false;
    },
    Oct(){
      this.$store.state.aprilButton = false;
      this.$store.state.octButton = true;
    },

    }

}
</script>
.isactive{
  background-color:red;

}


<style>

</style>