<template>
  <div id="app">
    <nav
      style="padding: 1px;background-color:#1f2937;"
      class="navbar "
      role="navigation"
      aria-label="main navigation is-mobile is-flex ">
      
      <div class="navbar-brand is-mobile">
        <div class="navbar-item navbar-item-hover-color">
          <router-link class="pms"   @click.native="routeToHome" to="/admin"> <h1> PMS </h1></router-link>
        </div>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        
        <!-- check users data -->
        <div  v-if="userDataButton && this.$store.state.adminLogged.length">
          <div  class="navbar-start" >
            <get-user-id></get-user-id>
          </div>
        </div>
     
        <!-- user and admin -->
        <div v-if=" this.$store.state.validUser && this.$store.state.adminLogged.length && adminDataButton && (this.$store.state.userLoggedOct.length || this.$store.state.userLoggedApril.length)">
          <div class="navbar-start" style="margin-top:15px">
              <user-select-quarter></user-select-quarter>
          </div>
        </div>
        
        <!-- userloggs only -->
        <div v-if="  this.$store.state.validUser && (this.$store.state.userLoggedOct.length || this.$store.state.userLoggedApril.length)&& !this.$store.state.adminLogged.length">
            <div class="navbar-start" style="margin-top:15px">
              <user-select-quarter></user-select-quarter>
            </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">

              <login></login>

            </div>
          </div>
        </div>
      </div>
    </nav>
 
 <div v-if="this.$store.state.validUser">
  <div v-if="adminLogged.length && adminLogged.length >= 1" style="margin:20px">
    <div class="level-right">
      <div>
         <div class="level-right">
            <p>logged as</p>
          </div>
          <div>
            <h1 class="has-text-danger ">{{this.$store.state.adminLoggedGoogleData.name +' '+this.$store.state.adminLoggedGoogleData.surname }}</h1>
          </div>
          <div>
             <p style="margin-left:10%">({{ this.$store.state.adminLogged}})</p> 
          </div>
      </div>
    </div>
  </div>
  <div v-else-if="this.$store.state.userLoggedApril.length >=1">
    <div class="level-right">
      <div>
         <div class="level-right">
            <p>logged as</p>
          </div>
          <div>
            <h1 class="has-text-danger ">{{this.$store.state.userLoggedApril[0].candidate_Name}}</h1>
          </div>
      </div>
    </div>
  </div>
  <div v-else-if="this.$store.state.userLoggedOct.length >=1">
    <div class="level-right">
      <div>
         <div class="level-right">
            <p>logged as</p>
          </div>
          <div>
            <h1 class="has-text-danger ">{{this.$store.state.userLoggedOct[0].first_name + ' ' + this.$store.state.userLoggedOct[0].last_name}}</h1>
          </div>
      </div>
    </div>
  </div>
 </div>

  <div class="card-content mx-5 my-5 level-item has-text-centered">
            <div class="content ">
                  <h1 style="color:red">{{this.$store.state.loginError}}</h1>
            </div>
  </div>
  <!-- <div v-if="!(this.$store.state.validUser && this.$store.state.adminLogged.length && this.$store.state.userLoggedApril && this.$store.state.userLoggedOct)  && !this.$store.state.loginLoading ">
        <div class="level">
          <div class="level-item">
            <h1 style="color:red">Not Authorized</h1>
          </div>
        </div>
  </div > -->
 <!-- && !this.$store.state.loginLoading -->
  <div>
    <div v-if="!this.$store.state.validUser" style="">
      <div class="card card-style " style="background-color:#b2f7ef" >
        <div class="card-content mx-5 my-5 level-item has-text-centered">
            <div class="content ">
              <h1 style="">Welcome to PMS</h1>
               <h4 style="color:#52b788"> Login to access Data</h4>
             
               <div id="quarter">
                   
                    <li>  Oct2020 </li>
                    <li>  April2021 </li>
                 
               </div>
                
            </div>
       </div>
     </div>
    </div>
  </div>
  

    <div>
      <router-view />
    </div>
  </div>
</template>

<script>
import Login from "./components/Login.vue";
// import QuarterData from "./components/QuarterData.vue"
import UserSelectQuarter from "./components/UserSelectQuarter.vue"
import GetUserId from "./components/Admin/GetUserId.vue"

export default {
  name: "App",
  components: {
    login: Login,
    // QuarterData:QuarterData,
    'user-select-quarter':UserSelectQuarter,
    'get-user-id':GetUserId,
  },
  data(){
    return{
      octButton:false,
      aprilButton:false,
      style:'is-active'
    }
  },
  computed:{
    adminLogged(){
      return this.$store.state.adminLogged
    },
    userSelect(){
      return this.$store.state.userSelect
    },
    adminDataButton(){
      return this.$store.state.adminDataButton
    },
    userDataButton(){
      return this.$store.state.userDataButton
    }
  },
  created(){
    this.$store.state.octDataReceived = []
    this.$store.state.aprilDataReceived = []
    this.$store.state.adminsList = []
    // console.log("created")
  },
  methods: {
    routeToHome(){
     this.$store.state.aprilButton = false
     this.$store.state.octButton = false
     this.$store.state.loginError = null;
     this.$store.state.userSelect = false,
     this.$store.state.adminDataButton = false;
     this.$store.state.userDataButton = false;
     this.$store.state.dataNotFound = false;
     this.$store.state.loginLoading = true;
    
     console.log(this.$store.state.userLoggedApril)
     console.log(this.$store.state.userLoggedOct)
    },
   
    April(){
      console.log("april",)
      this.aprilButton = true;
      this.octButton = false;
    },
    Oct(){
      this.aprilButton = false;
      this.octButton = true;
    },

  },


};
</script>

<style lang="scss" scoped>
@import "~bulma/css/bulma.css";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');


.isactive{
  background-color:red;

}
*{
  font-family: 'Signika', sans-serif;
}
.card-style {
  width: 40%;
  height:60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  padding: 40px;
  padding-bottom: 40px;
}

ul#quarter li{
  display:inline

}
.pms{
  margin: 5px;
  color:white;
  size:10px;
}
a:hover{
  color:#80ffdb;
  size: 5px;
  // color:turquoise;
  // background-color:turquoise;
}


</style>
